---
- hosts: jenkins
  become: yes
  become_method: sudo
  remote_user: ubuntu

  task:
  - name: Update apt and
    apt:
      update_cache:yes
    cache_valid_time: 86400 # One day

  - name: install JDK 11
    apt:
      name: openjdk-11-jdk
      state: present

  - name : add tomcat group
    group:
      name: tomcat

  - name: add tomcat user
    user:
      name: tomcat
      group: tomcat
      home: /user/share/tomcat
      createHome: no
  - name: create /opt/tomcat
    file:
      path: /opt/tomcat
      state: directory
      mode: 0755

  - name: download and unarchive
    unarchive:
      src: http://apache.cs.utah.edu/tomcat/tomcat-9/v9.0.16/bin/apache-tomcat-9.0.16.tar.gz
      dest: /opt/tomcat
      remote_src: yes
      extra_opts: [--strip-components=1]

  - name: Change ownership
    file:
      path: /opt/tomcat
      owner: tomcat
      group: tomcat
      mode: "u+rwx,g+rx,o=rx"
      recurse: yes
      state: directory

  - name: Copy tomcat service from local to remote
    file:
      src: tomcat.service
      dest: /etc/systemd/system/
      mode: 0755

  - name: Start and enable tomcat service
    systemd:
      name: tomcat
      state: started
      enabled: true
      daemon_reload: true

