---
- hosts: all

  become: yes
  become_method: sudo
  remote_user: ubuntu

  tasks:
  - name: Update apt and
    apt:
      update_cache: yes
      cache_valid_time: 86400 # One day
  - name: Install unzip
    apt:
      name: unzip

  - name: Upload WAR file
    copy:
      src: target/demo.war # relative 
      dest: /usr/local/tomcat/webapps/demo.war
      owner: ubuntu
      mode: 'u+rwx,g+rwx,o+rwx'
      backup: yes

  handlers:
    - name: restart tomcat
      shell: nohup /usr/local/tomcat/bin/catalina.sh &
  
