---
- hosts: all

  become: yes
  become_method: sudo
  remote_user: ubuntu

  tasks:
  - name: Update apt and
    apt:
      update_cache: yes
      cache_valid_time: 86400 # One day
  - name: Install unzip
    apt:
      name: unzip

  - name: Upload WAR file
    copy:
      src: "'{{ lookup('env', 'WORKSPACE' )}}/target/demo-0.0.1-SNAPSHOT.war" # relative 
      dest: /home/ubuntu/webapps/demo.war
      owner: ubuntu
      mode: 'u+rwx,g+rwx,o+rwx'
      backup: yes

  handlers:
    - name: restart tomcat
      service:
        name: tomcat
        state: restarted
  
